.button {
    display: flex;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    white-space: nowrap;
}

.active {
    background-color: #bbb;
}
