.button {
    display: flex;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    white-space: nowrap;
    transition: all ease 0.1s;

    &:hover {
        transform: scale(105%);
    }
}

.active {
    background-color: #bbb;
}
